header.header
    .wrapper
        nav
            .button
                button.ibtn.toggle
                    i.fa-solid.fa-bars-staggered 
                a(href="/")
                    button.ibtn
                        i.fa-regular.fa-pen-to-square
                .logo AskWeather
            .auth
                button.avtbtn
                    img(src="images/avt.jpg" alt="avatar" class="avatar")