header.header
    .wrapper
        nav
            .button
                button.ibtn.toggle
                    i.fa-solid.fa-bars-staggered 
                //- a(href="/")
                //-     button.ibtn
                //-         i.fa-regular.fa-pen-to-square
                a(href="/")
                    .logo NotebookAI
            .auth
                .go-note
                    a(href="/note") Go to notes
                button.avtbtn
                    img(src="images/avt.jpg" alt="avatar" class="avatar")