header
    .wrapper
        nav
            .button
                button.ibtn
                    i.fa-solid.fa-bars-staggered 
                button.ibtn
                    i.fa-regular.fa-pen-to-square
                .logo AskWeather
            .auth
                button.btn.login-btn Login 
                button.btn.signup-btn Sign up