nav.sidebar.close 
    .sidebar-content
        .add-sources 
            span Sources 
            i.fa-brands.fa-osi
        button
            i.fa-regular.fa-square-plus
        .source-list 
            