nav.sidebar.close 
    .sidebar-content
        .sidebar-head
            span Sources 
            i.fa-brands.fa-osi
        .add-sources
            form.add-form
                input(type="url" class="add-input" placeholder="Add source URL" required)
                button(type="submit" class="add-button")
                    i.fa-regular.fa-square-plus
        .line
        .source-list 
            ul
            