doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/css/auth.css")
    body
        
        block main   
        
        script(src="/js/auth.js")
        script(src="https://kit.fontawesome.com/22a9f83a9e.js" crossorigin="anonymous")
        


