doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/css/styles.css")
    body
        include ../partials/header.pug
        .container
            include ../partials/sidebar.pug
            .content
                block main   
        //- include ../partials/footer.pug
        script(src="/js/script.js")
        script(src="https://kit.fontawesome.com/22a9f83a9e.js" crossorigin="anonymous")

