doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/css/styles.css")
    body
        include ../partials/header.pug
        block main  
        include ../partials/footer.pug
        script(src="/js/script.js")

