* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
}

/* Begin Header  */

header {
    height: 10vh;
    width: 100%;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-left: 20px;
    display: flex;
}

.button .logo {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}

.button a {
    margin-top: 5px;
}

.button button {
    color: gray;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button button :hover {
    color: white;
}

.button button i {
    font-size: 20px;
}

.auth {
    margin-right: 20px;
}

.avtbtn {
    border: none;
    background: none;
    padding: 0; 
}

.avatar {
    vertical-align: middle;
    object-fit: cover;
    object-position: top center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.avtbtn :hover {
    border: 1.5px solid white;
}


/* End header  */

.chat-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Begin typing area  */

.typing-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
    /* left: 50%; 
    transform: translateX(-50%); */
}

.typing-area p {
    color: white;
    padding-left: 50%;
}

.typing-area .typing-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    border-radius: 6.2rem;
    font-size: 1rem;
    color: white;
    padding: 1.1rem 4rem 1.1rem 1.5rem;
}

.typing-area button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    outline: none;
    border: none;
}

.typing-area .icon {
    height: 56px;
    width: 56px;
    background-color: rgb(34, 34, 34);
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.typing-area .input-wrapper {
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}

.typing-area .input-wrapper .icon {
    position: absolute;
    right: 0;
    outline: none;
}

/* End typing area  */

/* Chat list  */

.chat-list {
    padding: 2rem 1rem 12rem;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
}

.chat-list .message,
.typing-form {
    max-width: 1000px;
    margin: 0 auto;
    /* align-items: center;  */
}


.chat-list .message.incoming,
.chat-list .message.outgoing {
    margin-top: 1.5rem;
}

.chat-list .message .message-content {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.chat-list .message .text {
    color: white;
}

.chat-list .message.loading .text {
    display: none;
}

.chat-list .message .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
}

.chat-list .loading-indicator {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.8rem;
}

.chat-list .message.loading .loading-indicator {
    display: flex;
}

.chat-list .loading-indicator .loading-bar {
    height: 11px;
    width: 100%;
    border-radius: 0.14rem;
    background: linear-gradient(to right, #4285f4, rgb(21, 21, 21), #4285f4);
    animation: animate 3s linear infinite;
}

.chat-list .loading-indicator .loading-bar:last-child {
    width: 70%;
}

@keyframes animate {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

/* End chat list  */