extends ../../layouts/default.pug

block main 
    .chat-container
        .typing-area 
            form(action="#" class="typing-form")
                .input-wrapper
                    input(type="text" placeholder="Enter message here" class="typing-input" required)
                    button  
                        i.fa-regular.fa-paper-plane.icon