extends ../../layouts/default.pug

block main 
    .welcome
        h1 Welcome to NotebookAI
        .notebook 
            h2 My Notebooks 
            .mat-divider
            .action-container
                button.create Create new
            .note-list 
                .card
                    h4.text Untitled notebook 
                    p.text Oct 28, 2024 - 0 sources
                .card
                    h4.text Untitled notebook 
                    p.text Oct 28, 2024 - 0 sources
                .card
                    h4.text Untitled notebook 
                    p.text Oct 28, 2024 - 0 sources
                .card
                    h4.text Untitled notebook 
                    p.text Oct 28, 2024 - 0 sources
            