extends ../../layouts/note.pug

block main
    div#card-container
        each note in Notes
            div.card
                div.resizer
                textarea.note-content(oninput="updateNoteContent(this, note.id)")
                    = note.content
                button.close-btn X
    div#add-note-sidebar
        button.add-note-btn +
        div.color-picker
            each color in ['#ffeb3b', '#ff5722', '#8bc34a', '#2196f3', '#e91e63']
                div.color-option(style=`background-color: ${color}`)
